@media screen and (min-width: 740px) {

  #nav {
    width: 100%;
    height: 5%;
  }

  #nav p {
    margin-left: 10rem;
  }

  #nav .social-links {
    margin-right: 10rem;
  }

  #nav .social-links a img {
    padding-left: 2rem;
  }

  /* ================== Home ===================== */
  main #home {
    min-height: 100vh;
  }

  #home {
    background: #ffffff url(../assets/background.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    padding-block: 0rem;

    color: #ffffff;

    padding-inline: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #home h2,
  #home h1,
  #home p {
    text-align: center;
  }

  #home h2 {
    font-weight: 700;
    font-size: 6rem;
    line-height: 6.2rem;
  }

  #home h1 {
    font-size: 3.2rem;
    line-height: 3.6rem;
    margin-block: 0.7rem;
  }

  #home p {
    font-size: 2.2rem;
    line-height: 2.5rem;
    margin-top: 2rem;
  }

  #home .button a {
    font-size: 2.2rem;
    line-height: 3rem;
    padding: 1.5rem 7rem;
  }


  /* =========== Segmentos ============ */

  #segments {
    background: #403232 url(../assets/juridico.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left top;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: flex-start;
    padding-inline: 10rem;
    padding-block: 14rem 8rem;
  }

  #segments h2 {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4.4rem;
  }

  #segments .segments {
    display: flex;
    flex-direction: row;
    justify-content: center;

    flex-wrap: wrap;

    margin-block: initial;
    margin-left: 10rem;
  }

  .segment-item {
    flex-grow: 1;
    flex-basis: 20rem;

    padding-block: 2rem;
    padding-inline: 1rem;
    margin-left: 2rem;
    margin-top: 2rem;
  }

  .segment-item img {
    height: 4rem;
  }

  #segments .button {
    justify-content: flex-end;
  }

  #segments .button a {
    font-size: 1.8rem;
    line-height: 2.5rem;
    padding: 1rem 6rem;
  }

  #segments .button a:nth-child(2) {
    font-size: 1.8rem;
    line-height: 2.5rem;
    padding: 0.6rem 7rem;
  }

  /* ========= Sobre ========== */

  #about {
    display: flex;
    flex-direction: row;
    padding: 9rem 10rem 12rem 10rem;
  }

  .column-about-1 {
    width: 40%;
  }

  .column-about-2 {
    padding-left: 4rem;
  }

  #about .column-about-1 img {
    max-width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #about h2 {
    font-size: 3.2rem;
    line-height: 3.5rem;
    margin-block: 0rem 0rem;
  }

  #about h3 {
    font-size: 2.5rem;
    line-height: 3rem;

    margin-block: .8rem 2rem;
  }

  #about .list .list-item img {
    width: 3rem;
    margin-right: 1rem;
  }
  
  #about .list .list-item p {
    color: var(--color-button-hover);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
  
  #about .list-1 {
    margin-top: 3rem;
  }
  
  #about .list-1 h3 {
    font-style: italic;
    font-weight: 600;
    font-size: 2.3rem;
    line-height: 2.6rem;
  }
  
  #about .list-2 {
    margin-top: 0.8rem;
  }


  #about .button {
    display: flex;
    flex-direction: row;

    align-items: flex-start;
    flex-wrap: wrap;

    row-gap: 3rem;
    column-gap: 3rem;
  }

  #about .button a {
    font-size: 1.8rem;
    line-height: 2.5rem;
    padding: 1rem 6rem;
  }

  #about .button a:nth-child(2) {
    font-size: 1.8rem;
    line-height: 2.5rem;
    padding: 0.6rem 7rem;
  }

  /* =============== Contato ===================== */

  #contact p {
    margin-right: 2rem;
    margin-bottom: 0;
  }

  #contact-footer {
    background-position: center;
    height: 90vh;
  }

  #contact-footer h3 {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  
  #contact-footer p {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  
  #contact-footer .local {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
  }
  
  #contact-footer .local img {
    height: 60%;
  }
  
  #contact-footer .local p {
    font-size: 2.2rem;
    line-height: 3rem;
  }
  
  
  #contact-footer a {
    font-size: 3rem;
    line-height: 3.5rem;
    margin-top: 2rem;
  }

  #backToTopButton {
    bottom: 2rem;
    right: 10rem;
   }
}