/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/
* {
  font-family: 'Open Sans', sans-serif;
}

/* ================= NAV ================== */

#nav {
  color: #ffffff;
  background: #00000067;
  display: flex;
  justify-content: space-between;
  padding-block: 1rem;

  position: absolute;
  z-index: 2;
  width: 100%;
  
}

#nav p {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 4rem;

  margin-left: 2rem;
}

#nav .social-links {
  margin-right: 2rem;
  height: 100%;

}

#nav .social-links img {
  padding: .5rem;
  height: 90%;
}

/* ================= HOME ================== */
#home {
  background: #ffffff url(../assets/backgroundMobile.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
  text-align: center;
  padding-block: 10rem 55rem;

  color: #ffffff;

  padding-inline: 2rem;

}

#home h2 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 5rem;
  line-height: 5.7rem;
  text-align: left;
}

#home h1 {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 3rem;
  text-align: left;

  margin-block: 1rem;
}

#home p {
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 3rem;
  text-align: left;


}

.button {
  display: flex;
  justify-content: center;

  margin-top: 3.5rem;
}

#home .button a {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;

  color: #ffffff;
  background-color: #7E1212;
  padding: 1.2rem 5.9rem;
  border-radius: 5rem;
  text-align: center;

  position: relative;
  transition: all .3s ease-in-out 0s;

  box-shadow: 0.8rem 0.8rem 0.8rem #8B3434;
}


#home .button a:hover {
  background-color: #b51212;
  transform: translateY(-10%);
}



/* ================ Segmentos ============= */

#segments {
  background: #403232 url(../assets/juridico.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  display: flex;
  flex-direction: column;
  padding-inline: 1rem 2rem;
  padding-block: 10rem 16rem;
}

#segments h2 {
  font-family: 'Ubuntu', sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.5rem;
  margin-left: 2rem;

}

#segments .segments {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  color: black;

  margin-block: 7rem;
}

.segment-item {
  background-color: #CDCDCD;

  text-align: center;

  flex-grow: 1;
  flex-basis: 30%;


  padding-block: 2rem;
  padding-inline: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;

}

.segment-item img {
  height: 4rem;
}

.segment-item p {
  color: black;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.8rem;
}

#segments .button {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  row-gap: 3rem;
  column-gap: 3rem;
}

#segments .button a {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.2rem;

  color: #ffffff;
  background-color: #7E1212;
  padding: 1.2rem 3rem;
  border-radius: 5rem;
  text-align: center;

  position: relative;
  transition: all .3s ease-in-out 0s;

  box-shadow: 0.5rem 0.5rem 0.5rem #8B3434;
}

#segments .button a:hover {
  background-color: #b51212;
  transform: translateY(-10%);
}

#segments .button a:nth-child(2) {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.2rem;

  color: #ffffff;
  background-color: #403232;
  padding: 0.8rem 6rem;
  border-radius: 5rem;
  border: 4px solid #7E1212;
  text-align: center;

  transform: translateY(-10%);

  position: relative;
  transition: all .3s ease-in-out 0s;

  box-shadow: 0.5rem 0.5rem 0.5rem #8B3434;
}

#segments .button a:hover:nth-child(2) {
  background-color: #b51212;
  border: 4px solid #b51212;

  transform: translateX(8%);
}

/* ============== Sobre ================= */

#about {
  background-color: #DACECE;
  padding: 10rem 2rem;
}

#about .column-about-1 img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#about h2 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.5rem;
  margin-block: 5rem 2rem;
}

#about h3 {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3rem;

  margin-bottom: 2rem;
}

#about .list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#about .list .list-item {
  display: flex;
  justify-content: center;
  flex-direction: row;

  font-weight: 400;
  font-size: 2rem;
  line-height: 3.2rem;
  margin-block: 0.6rem;
}

#about .list .list-item img {
  width: 3rem;
  margin-right: 1rem;
}


#about .button {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  row-gap: 3rem;
  column-gap: 3rem;
}

#about .button a {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.2rem;

  color: #ffffff;
  background-color: #7E1212;
  padding: 1.2rem 3rem;
  border-radius: 5rem;
  text-align: center;

  position: relative;
  transition: all .3s ease-in-out 0s;

  box-shadow: 0.5rem 0.5rem 0.5rem #8B3434;
}

#about .button a:hover {
  background-color: #b51212;
  transform: translateY(-10%);
}

#about .button a:nth-child(2) {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.2rem;

  color: #000000;
  background-color: #DACECE;
  padding: 0.8rem 6rem;
  border-radius: 5rem;
  border: 4px solid #7E1212;
  text-align: center;

  transform: translateY(-10%);

  position: relative;
  transition: all .3s ease-in-out 0s;

  box-shadow: 0.5rem 0.5rem 0.5rem #8B3434;
}

#about .button a:hover:nth-child(2) {
  background-color: #b51212;
  border: 4px solid #b51212;

  transform: translateX(8%);
}

/* =============== CONTATO ============== */

#contact {
  background-color: #7E1212;
  padding-block: 8rem;
  padding-inline: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#contact p {
  color: #ffffff;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3rem;

  margin-right: 2rem;
  margin-bottom: 2rem;
}

#contact a {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.2rem;

  color: #ffffff;
  background-color: #7E1212;
  padding: 0.8rem 6rem;
  border-radius: 5rem;
  border: 4px solid #ffffff;
  text-align: center;

  transform: translateY(-10%);

  position: relative;
  transition: all .3s ease-in-out 0s;

  box-shadow: 0.5rem 0.5rem 0.5rem #8B3434;
}

#contact a:hover {
  background-color: #b51212;
  border: 4px solid #b51212;

  transform: translateX(8%);
}

#contact-footer {
  background: #000000 url(../assets/ligacao.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
