/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/
* {
  font-family: 'Open Sans', sans-serif;
}

/* ================= NAV ================== */

#nav {
  display: flex;
  justify-content: space-between;
  padding-block: 1rem;

  position: absolute;
  z-index: 2;
  width:100vw;
}

#nav p {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 4rem;

  margin-left: 2rem;
}

#nav .social-links {
  margin-right: 2rem;

}

#nav .social-links img {
  padding: .5rem;
}

/* ================= HOME ================== */
#home {
  background: #ffffff url(../assets/backgroundMobile.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
  text-align: center;
  padding-block: 10rem 55rem;

  color: #ffffff;

  padding-inline: 2rem;

}

#home h2 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 5rem;
  line-height: 5.7rem;
  text-align: left;
}

#home h1 {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 3rem;
  text-align: left;

  margin-block: 1rem;
}

#home p {
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 3rem;
  text-align: left;


}

.button {
  display: flex;
  justify-content: center;

  margin-top: 3.5rem;
}

#home .button a {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;

  color: #ffffff;
  background-color: #7E1212;
  padding: 1.2rem 5.9rem;
  border-radius: 5rem;
  text-align: center;
}

#home .button a:hover {
  background-color: #b51212;
}

/* ================ Segmentos ============= */

#segments {
  background: #403232 url(../assets/juridico.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  display: flex;
  flex-direction: column;
  padding-inline: 1rem 2rem;
  padding-block: 10rem 16rem;
}

#segments h2 {
  font-family: 'Ubuntu', sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 3rem;
  line-height: 4rem;
  margin-left: 2rem;

}

#segments .segments {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  color: black;

  margin-block: 7rem;
}

.segment-item {
  background-color: #CDCDCD;

  text-align: center;

  flex-grow: 1;
  flex-basis: 30%;


  padding-block: 2rem;
  padding-inline: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;

}

.segment-item img {
  height: 4rem;
}

.segment-item p {
  color: black;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.8rem;
}

#segments .button {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  row-gap: 3rem;
  column-gap: 3rem;
}

#segments .button a {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.2rem;

  color: #ffffff;
  background-color: #7E1212;
  padding: 1.2rem 3rem;
  border-radius: 5rem;
  text-align: center;
}

#segments .button a:hover {
  background-color: #b51212;
}

#segments .button a:nth-child(2) {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.2rem;

  color: #ffffff;
  background-color: #403232;
  padding: 0.8rem 6rem;
  border-radius: 5rem;
  border: 4px solid #7E1212;
  text-align: center;
}

#segments .button a:hover:nth-child(2) {
  background-color: #b51212;
  border: 4px solid #b51212;
}


/* ============== Sobre ================= */




/* ======================================== 
===============  Midia Desk ============= 
======================================== */

@media screen and (min-width: 740px) {
  #home {
    background: #ffffff url(../assets/background.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    padding-block: 25rem;

    color: #ffffff;

    padding-inline: 2rem;
  }

  #home h2,
  #home h1,
  #home p {
    text-align: center;
  }

  #home h1 {
    font-size: 3.2rem;
    line-height: 4.4rem;
  }

  #home .button a {
    font-size: 2.2rem;
    line-height: 3rem;
    padding: 1.5rem 7rem;
  }


  /* Segmentos Desk */

  #segments {
    background: #403232 url(../assets/juridico.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left top;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-inline: 10rem;
    padding-block: 14rem 8rem;
  }

  #segments h2 {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4.4rem;
  }

  #segments .segments {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    margin-block: initial;
  }


  .segment-item {
    flex-grow: 1;
    flex-basis: 20rem;


    padding-block: 2rem;
    padding-inline: 1rem;
    margin-left: 2rem;
    margin-top: 2rem;

  }

  .segment-item img {
    height: 6rem;
  }

  #segments .button a {
    font-size: 2.2rem;
    line-height: 3rem;
    padding: 1rem 6rem;

  }

  #segments .button a:nth-child(2) {
    font-size: 2.2rem;
    line-height: 3rem;
    padding: 0.6rem 7rem;
  }



}